/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url(/font/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url(/font/Poppins-Italic.ttf);
}

/* screen size */
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1366px) {
    
}
@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1366px) {
    
}
@media screen and (max-width: 2560px) {
    
}
/* yung 1920 hindi na need */

/* body */
html {
    width: 100rem;
    height: 100rem;
    margin: 0;
    padding: 0;
    position: fixed;
    box-sizing: border-box;
    background: linear-gradient(to bottom left, #25A22B, #FFFFFF);
}
.content {
    display: inline-flex;
}
.img-content {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 80px;
}
.img {
    box-shadow: -3px 12px 10px rgb(75, 73, 73);
    margin-bottom: 0;
}
.signup-content {
    width: 450px;
    height: 600px;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    color: #25A22B;
    box-shadow: -3px 12px 10px rgb(75, 73, 73);
    background-color: rgb(255, 255, 255);
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 55px;
    font-family:'Poppins-Black';
}
h2 {
    margin-bottom: 0;
    font-family:'Poppins-Bold';
}
p {
    margin-top: 0;
    font-family:'Poppins-Italic';
}
hr.rounded {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0.5px solid #cac1c1;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

/* buttons */
button {
    font-size: 28px;
    margin: 5px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-family:'Poppins-Black';
    background-color: #25A22B;
}
.btn1 {
    padding-left: 120px;
    padding-right: 120px;
}
.btn2 {
    padding-left: 108px;
    padding-right: 108px;
}
.btn3 {
    padding-left: 54px;
    padding-right: 54px;
}
button:hover {
    background-color: #8f8f8f;
    transition-duration: 0.1s;
}