/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url(font/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url(font/Poppins-Italic.ttf);
}
h1, h2, h3, h4{
    line-height: 1.5rem;
}
/* body */
*{
    margin: 0;
    padding: 0;
    
}
main{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(to bottom left, #25A22B, #FFFFFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.body{
    height: auto;
    width: auto;
    padding: 25px;
    margin-left: 200px;
}
.left{
    width: auto;
    float: left;
    box-shadow: -2px 12px 10px rgb(75, 73, 73);
}
.right{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 550px;
    float: left;
    box-shadow: 0px 12px 10px rgb(75, 73, 73);
    align-items: center;
    font-weight: 600,bold;
    color: #25A22B;
    background-color: rgb(255, 255, 255);
}
.form {
    padding-top: 32px;
}
h1 {
    font-size: 70px;
    font-family:'Poppins-Black';
}
h2{
    font-family:'Poppins-Bold'
}
p{
    font-family:'Poppins-Italic';
    font-size: xx-small;
}
hr.rounded {
    border-top: 0.5px solid #cac1c1;
    border-radius: 5px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}
button {
    position: absolute;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-family:'Poppins-Black';
    background-color: #25A22B;
}
.loginForm{
    text-align: left;
    margin-left: 50px;
}
.username{
    padding: 8px;
    width: 350px;
    margin: 3px;
    box-sizing: content-box;
    border: none;
    border-radius: 8px;
    background-color: rgb(192, 189, 189);
}
.password{
    padding: 8px;
    width: 350px;
    margin: 3px;
    box-sizing: content-box;
    border: none;
    border-radius: 8px;
    background-color: rgb(192, 189, 189);
}
.loginForm p {
    text-align: center;
    margin-right: 50px;
}
.loginBtn {
    width: 350px;
    height: 50px;
    justify-self: center;
}
